<style>
		.ctr-button span{
        padding: 0 20px 4px;
        background: rgba(150,150,150,0.1);
				cursor: pointer;
		}
		.ctr-button span:hover{
        background: rgba(150,150,150,0.3);
		}

	.ctr-button .next{
			position: absolute;
      top: 48%;
			right: 0;
	}
	.ctr-button .prev{
			position: absolute;
      top: 48%;
			left: 0;
	}
	@media screen and (max-width: 750px) {
			.ctr-box .ctr-dot .icon{
          width: 15px;
          height: 15px;
			}
			.ctr-box .ctr-dot{
					padding: 0 5px;
			}

	}
</style>
<div class="page-width position-r sadhus-slide">
	{% if section.settings.title != blank %}
		<div class="section-header text-center fw-bold">
			<h2>{{ section.settings.title | escape }}</h2>
		</div>
	{% endif %}

	{%- assign collection = collections[section.settings.collection] -%}

	{% case section.settings.grid %}
	{% when 2 %}
	{%- assign max_height = 530 -%}
	{%- assign grid_item_width = 'flex2' -%}
	{% when 3 %}
	{%- assign max_height = 345 -%}
	{%- assign grid_item_width = 'flex3' -%}
	{% when 4 %}
	{%- assign max_height = 250 -%}
	{%- assign grid_item_width = 'flex4' -%}
	{% when 5 %}
	{%- assign max_height = 195 -%}
	{%- assign grid_item_width = 'flex5' -%}
	{% endcase %}

	{% case section.settings.grid_ph %}
	{% when 2 %}
	{%- assign max_height = 530 -%}
	{%- assign grid_item_width_ph = 'flex2_ph' -%}
	{% when 3 %}
	{%- assign max_height = 345 -%}
	{%- assign grid_item_width_ph = 'flex3_ph' -%}
	{% when 4 %}
	{%- assign max_height = 250 -%}
	{%- assign grid_item_width_ph = 'flex4_ph' -%}
	{% when 5 %}
	{%- assign max_height = 195 -%}
	{%- assign grid_item_width_ph = 'flex5_ph' -%}
	{% endcase %}

	{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}
	<div class="ov-hidden">
		<ul class="grid--uniform d-flex product-box transition-product item-box">
			{% for product in collection.products limit: product_limit %}
				<li class="{{ grid_item_width }} {{ grid_item_width_ph}} item">
					{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
				</li>
			{% else %}

				{% for i in (1..product_limit) %}
					<li class="{{ grid_item_width }} {{ grid_item_width_ph}} ">
						<div class="grid-view-item product-card">
							<a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
								<span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
							</a>
							<div class="grid-view-item__image-wrapper">
								{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
								{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
							</div>
							<div class="h4 grid-view-item__title"
									 aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
							{% include 'product-price' %}
						</div>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>

	<div class="ctr-box" >
		<ul class="text-center" >
			{%- for i in (1..section.settings.rows) -%}
				<li class="d-ib cursor-p ctr-dot {% if forloop.first  %}active{% endif %} " >
					<svg t="1639583310530" class="icon dot dot-white " viewBox="0 0 1024 1024"  p-id="4744" width="200" height="200"><path d="M512 66c-246 0-446 200-446 446 0 246 200 446 446 446s446-200 446-446c0-246-200-446-446-446z m0 828.03712c-211 0-382-171.392-382-382 0-211 171-382 382-382 211 0 382 171 382 382 0 211-171 382-382 382z" p-id="4745"></path></svg>
					<svg t="1639584057658" class="icon dot dot-black" viewBox="0 0 1024 1024" p-id="4876" width="200" height="200"><path d="M512 66c-246 0-446 200-446 446 0 246 200 446 446 446s446-200 446-446c0-246-200-446-446-446z" p-id="4877"></path></svg>
				</li>
			{%- endfor -%}
		</ul>

	</div>
	<div class="ctr-button phone-hide">
		<span class=" prev rotat-90 d-ib">
<svg t="1639675006856" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2485" width="200" height="200"><path d="M910.222222 796.444444c-17.066667 0-34.133333-5.688889-45.511111-17.066666L551.822222 409.6c-11.377778-5.688889-17.066667-11.377778-34.133333-11.377778-5.688889 0-22.755556 5.688889-28.444445 11.377778l-329.955555 364.088889c-22.755556 22.755556-56.888889 22.755556-79.644445 5.688889-22.755556-22.755556-22.755556-56.888889-5.688888-79.644445l329.955555-364.088889c28.444444-34.133333 73.955556-51.2 119.466667-51.2s85.333333 22.755556 119.466666 56.888889l312.888889 364.088889c22.755556 22.755556 17.066667 56.888889-5.688889 79.644445-11.377778 5.688889-28.444444 11.377778-39.822222 11.377777z" p-id="2486"></path></svg>
		</span>
		<span class=" next rotat90 d-ib ">
	<svg t="1639675006856" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2485" width="200" height="200"><path d="M910.222222 796.444444c-17.066667 0-34.133333-5.688889-45.511111-17.066666L551.822222 409.6c-11.377778-5.688889-17.066667-11.377778-34.133333-11.377778-5.688889 0-22.755556 5.688889-28.444445 11.377778l-329.955555 364.088889c-22.755556 22.755556-56.888889 22.755556-79.644445 5.688889-22.755556-22.755556-22.755556-56.888889-5.688888-79.644445l329.955555-364.088889c28.444444-34.133333 73.955556-51.2 119.466667-51.2s85.333333 22.755556 119.466666 56.888889l312.888889 364.088889c22.755556 22.755556 17.066667 56.888889-5.688889 79.644445-11.377778 5.688889-28.444444 11.377778-39.822222 11.377777z" p-id="2486"></path></svg>
		</span>
	</div>
	{% if section.settings.show_view_all %}
		<div class="text-center top-right position-a fw-bold phone-hide">
			<a href="{{ collection.url }}" class=""
				 aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
				{{ 'collections.general.view_all' | t }}<svg t="1639586740305" class="icon" viewBox="0 0 1024 1024" p-id="3133" width="200" height="200"><path d="M431 491L256 666 316 725l235-235L316 256 256 316l175 175z m256 0L512 666l60 60 235-235L576 256 512 316l175 175z" fill="currentColor" p-id="3134"></path></svg>
			</a>
		</div>
	{% endif %}

</div>


{% schema %}
{
	"name": "产品系列-苦行僧",
	"class": "index-section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "标题",
			"default": "产品系列"
		},
		{
			"id": "collection",
			"type": "collection",
			"label": "产品"
		},
		{
			"type": "range",
			"id": "grid",
			"label": "每行产品数",
			"min": 2,
			"max": 5,
			"step": 1,
			"default": 3
		},
		{
			"type": "range",
			"id": "grid_ph",
			"label": "移动端每行产品数",
			"min": 2,
			"max": 5,
			"step": 1,
			"default": 3
		},
		{
			"type": "range",
			"id": "rows",
			"label": "页数",
			"min": 1,
			"max": 5,
			"step": 1,
			"default": 2
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"label": "显示产品厂商",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_view_all",
			"label": "显示“查看全部”按钮",
			"default": false
		}
	],
	"presets": [
		{
			"name": "产品系列-苦行僧",
			"category": "products"
		}
	]
}
{% endschema %}
